{% load static %}
<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <!-- Site Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Check out the latest blogs, tips, DIY & hack and new ideas from empireofblogs.">
    <title>Empire of Blogs</title>
   <link rel="icon"  href="{% static 'images/icon-4x.png' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'web-asset/css/bootstrap.min.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'web-asset/css/style.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'web-asset/css/navbar-top-fixed.css' %}">
   <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'web-asset/js/bootstrap.min.js'%}"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    {% for head_tag in head_meta_tags %}
    {{head_tag.meta_tag|safe}}
    {% endfor %}
</head>

<body onclick="hidesearch()">
{% for body_tag in body_tags %}
{{body_tag.meta_tag |safe}}
{% endfor %}
<header>
  <div class="container-header">
      <!-- Logo -->
      <div class="logo">
          <a href="{% url 'index' %}">
              <img src="{% static 'images/logo1.png' %}" alt="Empire of Blogs">
          </a>
      </div>

      <!-- Navigation -->
      <ul class="nav-links">
          <li><a href="{% url 'index' %}">Home</a></li>
          {% for nav in navigation %}
          <li><a href="{% url 'category' nav.slug %}">{{ nav.name }}</a></li>
          {% endfor %}
          <li><a href="{% url 'stores' %}">Store</a></li>
          <li><a href="{% url 'categories' %}">Categories</a></li>
      </ul>

      <!-- Search Bar -->
      {% if show_search_bar %}
      <div class="search-container">
          <input type="text" name="search-text" placeholder="Search stores..." onkeyup="searchStores(this.value)">
          <i class="fa fa-search search-icon"></i>
          <div id="search_result" class="search-results">
            {% comment %} <ul class="typeahead"></ul> {% endcomment %}
          </div>
      </div>
      {% endif %}

      <!-- Hamburger -->
      <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
      </div>
  </div>
</header>
     

  {% block body %}
     
  
  {% endblock body %}

     

<div class="gtranslate_wrapper"></div>


 <footer class="site-footer">
      <div class="container">
        <div class="row">
 

          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="col-md-12 footer_logo_div">
                <span style="display:flex; justify-content:center;">
                         <a class="" href="index.html" aria-label="logo">
                       <img style="width: 170px; max-width:300px;" src="{% static 'images/logo1.png' %}" class="img-responsive" alt=""></a>
                </span>
           
          
                <p class="footer-p">Empire of Blogs aims to connect you with top brand stores, offering everything you need at affordable prices. Our vision is to make shopping easy and accessible for millions worldwide, helping you find your favorite products effortlessly.</p>
            </div>
          </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
              <h3 class="text-center-h">Useful Links</h3>
            <ul class="footer-links">
                <li><a href="{% url "coupons" %}">Coupons</a></li>
              <li><a href="{% url "about-us" %}">About Us</a></li>
              <li><a href="{% url "terms-and-conditions" %}">Terms &amp; Conditions</a></li>
              <li><a href="{% url "privacy-policy" %}">Privacy Policy</a></li>  
                <li><a href="{% url "terms-of-use" %}">Terms Of Use</a></li>  
                  <li><a href="{% url "impressum"%}">Impressum</a></li> 
                
            </ul>
          </div>
       
                      <div class="col-md-4 col-sm-4 col-xs-12">
                        <span class=" footer-widget">
                            <h4 class="text-center-h">News Letter</h4>
                           
                            <p class=" footer-subscription">Get our Daily email newsletter with Special Services, Updates, Offers
                                and more!
                            </p>
                            <form action="{% url "subscriber-email" %}" method="POST"> {% csrf_token %}
                            <span class="input-span">

                                <input type="email" class=" input-span" name="user_email" id="user_email2"
                                placeholder="Your Email Address">
                                <input type="submit" value="Submit" class="fas fa fa-arrow-right  news-btn w-100"></input>
                              </span>
                            </form>
                        </span>
                        <br>
                       
                      <ul class="social-icons">
                        <li><a class="facebook" href="#" aria-label="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="instagram" href="#" aria-label="instagram"><i class="fa fa-instagram"></i></a></li>
                      </ul>
                      
                        
    </div>
  
          

        </div>
        <hr>
      </div>
      
      <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                	 		 <p class="disclosure">
            		Disclosure: We may earn commission if you use our links/Coupons/Voucher/Promos
            		 </p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                	 		 <p class="copyright">
            			 copyright © 2024 empireofblogs, All Right Reserved
            		 </p>
            </div>

        </div>
      </div>
</footer> 

          
                    

</body>

<script type="text/javascript">
$('[data-toggle="slide-collapse"]').on('click', function() {
  $navMenuCont = $($(this).data('target'));
  $navMenuCont.animate({
    'width': 'toggle'
  }, 350);
  $(".menu-overlay").fadeIn(500);

});
$(".menu-overlay").click(function(event) {
  $(".navbar-toggle").trigger("click");
  $(".menu-overlay").fadeOut(500);
});

</script>

  <script src="{% static 'js/site.js' %}"></script>
   <script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>

</html>