{% extends 'base.html' %}

{% block body %}

<div class="t-children">
  <main>
      <div>
          <div class="t-outerContainer">
              <div class="t-container">
                  <div class="t-row row">
                      <div class="col-md-9">
                          <div class="t-container con-11">
                              <div class="t-navigation">
                                  <h1><a href="#" class="nav-a">Travel Related Blogs</a></h1>
                                  <div class="t-topElementsContainer">
                                      <div class="t-navBreak"></div>
                                  </div>
                              </div>

                              <div class="t-container-iner">
                                  <div class="t-storeBars">
                                    {% for cat in category %}
                                      <a href="{% url "blog_detail" cat %}">
                                          <div class="t-container-0-2-229">
                                              <div class="t-storeImgContainer-0-2-230">
                                                  <picture><img src="../../images/blog/312312321.jpg" alt="The Art Of Solo Travel Tips And Tricks For An Unforgettable Adventure" class="t-loading t-load t-storeImg" /></picture>
                                              </div>
                                              <div class="t-storeInfoBox">
                                                  <div class="t-leftStoreInfo">
                                                      <div class="t-name">The Art Of Solo Travel Tips And Tricks For An Unforgettable Adventure</div>
                                                      <div>
                                                          <span class="t-description"></span>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </a>

                                    {% endfor %}
                                     
                                  </div>
                              </div>
                          </div>
                      </div>

                      <!--<div class="t-viewMoreButton-0-2-107"> View <span class="t-viewCount-0-2-108">100</span> new codes
          </div>-->
                      <div class="col-md-3">
                          <div class="">
                              <div class="t-streamContainer">
                                  <h2 class="t-title">
                                      Featured Blogs
                                      <!--<div class="t-addCode-0-2-110">
<span class="t-addCodePlus-0-2-111">+</span> Have a code?
</div>-->
                                  </h2>

                                  <div class="u-main">
                                      <a href="../../blogs/green-gadgets-best-selling-apple-smart-watches.html">
                                          <div class="t-main-0-2-217">
                                              <div class="t-couponContainer">
                                                  <!--<div class="t-nameBox-2">
           <div class="t-storeName"></div>
        </div>-->
                                                  <div>
                                                      <span>
                                                          <!-- <div>
                 <div class="t-couponMargin">
                   <div class="t-couponCode">4KFIRETV</div>
           </div>
       </div>-->
                                                          <div class="t-couponDesc">Best-Selling Apple Smart Watches By Green Gadgets</div>
                                                      </span>
                                                  </div>

                                                  <div>
                                                      <div class="t-lastUsed-0-2-224">
                                                          <div class="t-codeWorkedImg-0-2-226">
                                                              <!--<div class="h-icon t-icon"><i class="fa fa-check" aria-hidden="true"></i></div>-->
                                                          </div>

                                                          <div class="t-workedAlign-0-2-225">Home and Tech</div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </a>
                                  </div>

                                  <div class="u-main">
                                      <a href="../../blogs/careyou-top-4-home-decor-items.html">
                                          <div class="t-main-0-2-217">
                                              <div class="t-couponContainer">
                                                  <!--<div class="t-nameBox-2">
           <div class="t-storeName"></div>
        </div>-->
                                                  <div>
                                                      <span>
                                                          <!-- <div>
                 <div class="t-couponMargin">
                   <div class="t-couponCode">4KFIRETV</div>
           </div>
       </div>-->
                                                          <div class="t-couponDesc">Home Decor Items By CareYou</div>
                                                      </span>
                                                  </div>

                                                  <div>
                                                      <div class="t-lastUsed-0-2-224">
                                                          <div class="t-codeWorkedImg-0-2-226">
                                                              <!--<div class="h-icon t-icon"><i class="fa fa-check" aria-hidden="true"></i></div>-->
                                                          </div>

                                                          <div class="t-workedAlign-0-2-225">Lifestyle</div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </a>
                                  </div>

                                  <div class="u-main">
                                      <a href="../../blogs/zerorectriction-best-selling-womens-layers.html">
                                          <div class="t-main-0-2-217">
                                              <div class="t-couponContainer">
                                                  <!--<div class="t-nameBox-2">
           <div class="t-storeName"></div>
        </div>-->
                                                  <div>
                                                      <span>
                                                          <!-- <div>
                 <div class="t-couponMargin">
                   <div class="t-couponCode">4KFIRETV</div>
           </div>
       </div>-->
                                                          <div class="t-couponDesc">Best-Selling Women’s Layers By Zero Restriction</div>
                                                      </span>
                                                  </div>

                                                  <div>
                                                      <div class="t-lastUsed-0-2-224">
                                                          <div class="t-codeWorkedImg-0-2-226">
                                                              <!--<div class="h-icon t-icon"><i class="fa fa-check" aria-hidden="true"></i></div>-->
                                                          </div>

                                                          <div class="t-workedAlign-0-2-225">Lifestyle</div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </a>
                                  </div>

                                  <div class="u-main">
                                      <a href="../../blogs/overcome-cleaning-challenges-ecovacs.html">
                                          <div class="t-main-0-2-217">
                                              <div class="t-couponContainer">
                                                  <!--<div class="t-nameBox-2">
           <div class="t-storeName"></div>
        </div>-->
                                                  <div>
                                                      <span>
                                                          <!-- <div>
                 <div class="t-couponMargin">
                   <div class="t-couponCode">4KFIRETV</div>
           </div>
       </div>-->
                                                          <div class="t-couponDesc">Overcome Cleaning Challenges with Robotic Wonder by ECOVACS</div>
                                                      </span>
                                                  </div>

                                                  <div>
                                                      <div class="t-lastUsed-0-2-224">
                                                          <div class="t-codeWorkedImg-0-2-226">
                                                              <!--<div class="h-icon t-icon"><i class="fa fa-check" aria-hidden="true"></i></div>-->
                                                          </div>

                                                          <div class="t-workedAlign-0-2-225">Home and Tech</div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </a>
                                  </div>
                              </div>
                          </div>

                          <div class="">
                              <div class="t-streamContainer">
                                  <h2 class="t-title">
                                      Recent Blogs
                                      <!--<div class="t-addCode-0-2-110">
<span class="t-addCodePlus-0-2-111">+</span> Have a code?
</div>-->
                                  </h2>

                                  <div class="u-main">
                                      <a href="../../blogs/green-gadgets-best-selling-apple-smart-watches.html">
                                          <div class="t-main-0-2-217">
                                              <div class="t-couponContainer">
                                                  <!--<div class="t-nameBox-2">
           <div class="t-storeName"></div>
        </div>-->
                                                  <div>
                                                      <span>
                                                          <!-- <div>
                 <div class="t-couponMargin">
                   <div class="t-couponCode">4KFIRETV</div>
           </div>
       </div>-->
                                                          <div class="t-couponDesc">Best-Selling Apple Smart Watches By Green Gadgets</div>
                                                      </span>
                                                  </div>

                                                  <div>
                                                      <div class="t-lastUsed-0-2-224">
                                                          <div class="t-codeWorkedImg-0-2-226">
                                                              <!--<div class="h-icon t-icon"><i class="fa fa-check" aria-hidden="true"></i></div>-->
                                                          </div>

                                                          <div class="t-workedAlign-0-2-225">Home and Tech</div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </a>
                                  </div>

                                  <div class="u-main">
                                      <a href="../../blogs/careyou-top-4-home-decor-items.html">
                                          <div class="t-main-0-2-217">
                                              <div class="t-couponContainer">
                                                  <!--<div class="t-nameBox-2">
           <div class="t-storeName"></div>
        </div>-->
                                                  <div>
                                                      <span>
                                                          <!-- <div>
                 <div class="t-couponMargin">
                   <div class="t-couponCode">4KFIRETV</div>
           </div>
       </div>-->
                                                          <div class="t-couponDesc">Home Decor Items By CareYou</div>
                                                      </span>
                                                  </div>

                                                  <div>
                                                      <div class="t-lastUsed-0-2-224">
                                                          <div class="t-codeWorkedImg-0-2-226">
                                                              <!--<div class="h-icon t-icon"><i class="fa fa-check" aria-hidden="true"></i></div>-->
                                                          </div>

                                                          <div class="t-workedAlign-0-2-225">Lifestyle</div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </a>
                                  </div>

                                  <div class="u-main">
                                      <a href="../../blogs/zerorectriction-best-selling-womens-layers.html">
                                          <div class="t-main-0-2-217">
                                              <div class="t-couponContainer">
                                                  <!--<div class="t-nameBox-2">
           <div class="t-storeName"></div>
        </div>-->
                                                  <div>
                                                      <span>
                                                          <!-- <div>
                 <div class="t-couponMargin">
                   <div class="t-couponCode">4KFIRETV</div>
           </div>
       </div>-->
                                                          <div class="t-couponDesc">Best-Selling Women’s Layers By Zero Restriction</div>
                                                      </span>
                                                  </div>

                                                  <div>
                                                      <div class="t-lastUsed-0-2-224">
                                                          <div class="t-codeWorkedImg-0-2-226">
                                                              <!--<div class="h-icon t-icon"><i class="fa fa-check" aria-hidden="true"></i></div>-->
                                                          </div>

                                                          <div class="t-workedAlign-0-2-225">Lifestyle</div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </a>
                                  </div>

                                  <div class="u-main">
                                      <a href="../../blogs/overcome-cleaning-challenges-ecovacs.html">
                                          <div class="t-main-0-2-217">
                                              <div class="t-couponContainer">
                                                  <!--<div class="t-nameBox-2">
           <div class="t-storeName"></div>
        </div>-->
                                                  <div>
                                                      <span>
                                                          <!-- <div>
                 <div class="t-couponMargin">
                   <div class="t-couponCode">4KFIRETV</div>
           </div>
       </div>-->
                                                          <div class="t-couponDesc">Overcome Cleaning Challenges with Robotic Wonder by ECOVACS</div>
                                                      </span>
                                                  </div>

                                                  <div>
                                                      <div class="t-lastUsed-0-2-224">
                                                          <div class="t-codeWorkedImg-0-2-226">
                                                              <!--<div class="h-icon t-icon"><i class="fa fa-check" aria-hidden="true"></i></div>-->
                                                          </div>

                                                          <div class="t-workedAlign-0-2-225">Home and Tech</div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </main>
</div>

<button type="button" class="btn btn-primary btn-lg hide subs_modal CustomModalSubs" data-toggle="modal" data-target="#CustomSubsModal"></button>
<div class="modal fade coupon-modal" id="CustomSubsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg modal-dialog-centered coupon-modal-dialog">
      <div class="modal-content subs-content py-5 coupon-subs-modal">
          <button type="button" class="close coupon-modal-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-header-subscription">
              <h2 class="modal-title text-uppercase modal-coup-title">
                  STAY IN THE LOOP WITH Pubmybrand!
                  <p class="modal-p">SUBSCRIBE NOW FOR TOP NOTCH SHOPPING ADVICE</p>
                  <span class="coup-span-modal">
                      <input type="email" class="subs_form" id="user_email" placeholder="Enter Your Email" aria-label="Username" aria-describedby="basic-addon1" />
                  </span>
                  <div class="modal-coup-div">
                      <a class="coup-modal-a" href="#" type="btn" aria-label="subscribe" onclick="newsLetter(window.location.href,'user_email')">SUBSCRIBE</a>
                  </div>
                  <p id="response_id"></p>

                  <script type="text/javascript">
                      $('[data-toggle="slide-collapse"]').on("click", function () {
                          $navMenuCont = $($(this).data("target"));
                          $navMenuCont.animate(
                              {
                                  width: "toggle",
                              },
                              350
                          );
                          $(".menu-overlay").fadeIn(500);
                      });
                      $(".menu-overlay").click(function (event) {
                          $(".navbar-toggle").trigger("click");
                          $(".menu-overlay").fadeOut(500);
                      });
                  </script>

                  <script src="../../js/site.js"></script>
                  <script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>
              </h2>
          </div>
      </div>
  </div>
</div>


{% endblock body %}
