{% extends 'base.html' %}
{% block body %}
<div class="t-children">
    <main>
        <div>
            <div class="t-outerContainer">
                <div class="t-container">
                    <div class="t-row row">
                        <div class=" col-md-9">
                            <div class="t-container con-11">
                                <div class="t-navigation">
                                    <h1><a href="#" class="nav-a">{{ category_name }} Blogs</a></h1>
                                    <div class="t-topElementsContainer">
                                        <div class="t-navBreak"></div>
                                    </div>
                                </div>
                                <div class="t-container-iner">
                                    <div class="t-storeBars">
                                        {% for blog in blogs %}
                                        <a href="{% url "blog-detail" blog.slug %}">
                                            <div class="t-container-0-2-229">
                                                <div class="t-storeImgContainer-0-2-230">
                                                    <picture><img src="{{blog.image.url}}" alt="{{blog.title}}" class="t-loading t-load t-storeImg"></picture>
                                                </div>
                                                <div class="t-storeInfoBox">
                                                    <div class="t-leftStoreInfo">
                                                        <div class="t-name">{{blog.title}} </div>
                                                        <div>
                                                            <span class="t-description"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        {% endfor %}
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="">
                                <div class="t-streamContainer">
                                    <h2 class="t-title">Featured Blogs
                                    </h2>

                                    {% for featured_blog in featured_blogs %}
                                    <div class="u-main">
                                        <a href="{% url "blog-detail" featured_blog.slug %}" >
                                            <div class="t-main-0-2-217">
                                                <div class="t-couponContainer">
                                                    <div>
                                                        <span>
                                                            <div class="t-couponDesc">{{featured_blog.title}}</div>
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <div class="t-lastUsed-0-2-224">
                                                            <div class="t-codeWorkedImg-0-2-226">
                                                            </div>
                                                            <div class="t-workedAlign-0-2-225">{{featured_blog.blog_category}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    {% endfor %}
                                  
                                </div>
                            </div>
                            <div class="">
                                <div class="t-streamContainer">
                                    <h2 class="t-title">Recent Blogs
                                    </h2>
                                    {% for recent_blog in recent_blogs %}
                                    <div class="u-main">
                                        <a href="{% url "blog-detail" recent_blog.slug %}" >
                                            <div class="t-main-0-2-217">
                                                <div class="t-couponContainer">
                                                    <div>
                                                        <span>
                                                            <div class="t-couponDesc">{{recent_blog.title}}</div>
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <div class="t-lastUsed-0-2-224">
                                                            <div class="t-codeWorkedImg-0-2-226">
                                                                    <div class="h-icon t-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                                                            </div>
                                                            <div class="t-workedAlign-0-2-225">{{recent_blog.blog_category}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    {% endfor %}

                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</div>
</div>
{% endblock body %}