{% extends 'base.html' %}
{% load static %}

{% block body %}
   <div class="container">
    <div calss="row"> 
        <div class="about_box">
            <h1 >Privacy Policy</h1>
            <div>
                <p class="cont_para">We are dedicated to keeping your personally identifiable information ("Personal Information") accurate, private, and secure. Our privacy policy sets down the rules for how we will collect, use, and disclose personal information as part of this promise.</p>
                <p class="cont_para">Please be aware that the information gathered is used to improve the user interface and streamline your searches so you may enjoy using the service more. By utilizing the service, you give us permission to gather and use your information in line with the terms of service and privacy statement.</p>
                
                <h4>Data collection:</h4>
                <p class="cont_para">You provide personal information to us when you use our services, open an account with us, or fill out a form on the website that requests it. When you use our services, you provide us with personal information, which we collect. Your first and last name, mailing address, email address, phone number, and credit card or payment account details are all included in this information. When you contact one of our departments, such as customer service, or fill out online forms or surveys on the Site, we also gather your personal information.</p>
                <p class="cont_para">Your information may be gathered and used by Pubmybrand, site users, and the general public if you publish it in a public part of the website, such as a customer review. We firmly advise against posting any information on the Site that could be used to identify or locate you by a total stranger or that you would otherwise not want to be made public.</p>
                
                
                <h4>Definitions and interpretations:</h4>
                <p class="cont_para">Any capitalized word's meaning is outlined in the following clauses. Whether the definitions below are written or displayed in the singular or plural, they all have the same purpose.</p>
                
                <h4>Only for this privacy policy:</h4>
                <p class="cont_para">Account refers to any account set up to use the platform or our services. In this policy, the company "Pubmybrand" is referred to as either "The Company".</p>
                <p class="cont_para">Cookies are small files that websites place on your computer, mobile device, or other device, which, among other things, save the specifics of your browsing history on those websites. Any device with access to the Service is referred to as a gadget, including a computer, a mobile phone, and electronic tablets.</p>
                <p class="cont_para">Any information related to a notable or recognizable person is called individual or personal data.</p>
                <p class="cont_para">Service: a website reference.</p>
                <p class="cont_para">Any regular or lawful person who processes information for the benefit of the Company is referred to as a service provider. It relates to outside companies or individuals that the Company uses to work with the Service, to provide Support for the Company's advantage, to carry out Service-related services, or to assist the Company in dissecting how the Service is used.</p>
                <p class="cont_para">Utilization/Usage Data: refers to information obtained from using the service or from the service's infrastructure (for example, the amount of time spent on a page).</p>
                <p class="cont_para">Site: refers to Pubmybrand, which is accessible via Pubmybrand.</p>
                <p class="cont_para">You: refers to the person accessing or using the service or the business or other authorized entity for which the person is accessing or using the service.</p>
                
                <h4>Cookies</h4>
                <p class="cont_para">When you visit our websites, a cookie, a tiny data file, or a piece of information may be placed on your computer's hard drive. We may use cookies to enhance the functionality of our website and, in certain situations, to give users a more personalized online experience. Most web browsers are initially set up to accept cookies because they are frequently used automatically. You may modify your Internet browser's settings to stop your computer from getting cookies or to alert you when one is sent so you can choose whether or not to accept it. Please be aware that disabling cookies may prevent you from using our website to its full potential.</p>
                
                <h4>Third-party websites</h4>
                <p class="cont_para">Please be aware that we are an affiliate company and that there may be content, coupons, advertisements, or blogs that link to third-party websites. Any page that includes links to third parties will receive the appropriate disclosure.</p>
                
                <h4>Changes to the privacy policy</h4>
                <p class="cont_para">We reserve the right to make changes to the privacy policy at any time for any reason. However, we will let you know by updating this page on the website or sending you a copy via email. We shall change the "last Updated" date on this page and advise you to examine the privacy policy if you have any queries about the privacy statement or issues with deleting the information gathered.</p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}