{% extends 'base.html' %} {% load static %} {% block body %}
<div class="container">
  <!-- Store Information -->
  <div class="col-md-12">
    <div class="col-md-10 col-sm-10 col-xs-12 single-coup-boxstyle">
      <div class="single-coup-box">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <a href="{{ store.website_url }}">
            <img src="{{ store.image.url }}" alt="{{ store.store_name }}" />
          </a>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div class="single-coup-right">
            <span>{{ store.store_name }}</span>
            <p>{{ store.description }}</p>
            <div class="store-rating">
              {% for i in "12345" %} {% if forloop.counter <= store.rating %}
              <i class="fa fa-star" style="color: gold"></i>
              {% else %}
              <i class="fa fa-star-o" style="color: gold"></i>
              {% endif %} {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row coup-start">
    <!-- Coupons Section -->
    <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="feat-coupons col-md-12 col-sm-12 col-xs-12">
        <h1>{{ store.store_name }}</h1>

        {% for coupon in coupons %}
        <div class="feat-coup-box col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-3 col-sm-3 col-xs-6 p-0">
            <a href="{{ coupon.coupon_url }}" aria-label="coupon">
              <div class="coup-img">
                <img
                  class="img-responsive"
                  src="{{ store.image.url }}"
                  alt="{{ coupon.description }}"
                  loading="lazy"
                />
              </div>
            </a>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-8 p-0">
            <a
              onclick="updateCounter('{{ coupon.id }}', 1);"
              href="javascript:void(0)"
            >
              <div class="col-md-7 col-sm-7 col-xs-12 border">
                <div class="coup-text">
                  <b>{{ coupon.description }}</b>
                  <p>Used: {{ coupon.usage_count }}</p>
                </div>
              </div>
            </a>
            <div class="col-md-5 col-sm-5 col-xs-12">
              <div class="avail">
                <div class="get-code">
                  <div>
                    {% if coupon.is_deal %}
                    <a
                      onclick="handleClick('{{ coupon.coupon_code }}', '{{ coupon.pk }}', '{{ coupon.coupon_url }}')"
                      href="{{ coupon.coupon_url }}"
                      class="get-code-btn"
                      target="_blank"
                      >Get Deal</a
                    >
                    {% else %}
                    <span style="display: none" id="s{{ coupon.id }}"
                      >{{ coupon.coupon_code }}</span
                    >
                    <a
                      href="{{ coupon.coupon_url }}"
                      onclick="handleClick('{{ coupon.coupon_code }}', '{{ coupon.pk }}', '{{ coupon.coupon_url }}')"
                      class="get-code-btn"
                      target="_blank"
                      >Copy Code & Visit</a
                    >
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal" id="modal-{{ coupon.pk }}">
          <div class="modal-content">
            <span class="close-modal" onclick="closeModal('{{ coupon.pk }}')"
              >&times;</span
            >
            <div class="modal-header">
              <h2>{{ coupon.store.store_name }} Coupons and Promo Codes</h2>
            </div>
            <div class="modal-body">
              <div class="image-container">
                <img
                  src="{{ coupon.store.image.url }}"
                  alt="{{ coupon.store.store_name }}"
                  class="store-image"
                />
              </div>
              <div class="modal-footer">
                <a
                  id="couponUrl-{{ coupon.pk }}"
                  href="{{ coupon.store.website_url }}"
                  target="_blank"
                  class="visit-button"
                  >Visit the Store</a
                >
              </div>
              <div class="coupon-code-container">
                {% if coupon.is_deal %}
                <p>
                  <strong
                    >No coupon code needed! Click the button to visit the store
                    and get the deal.</strong
                  >
                </p>
                {% else %}
                <p><strong>Your special code is:</strong></p>
                <div class="coupon-code">
                  <span id="couponCodeDisplay-{{ coupon.pk }}"
                    >{{ coupon.coupon_code }}</span
                  >
                </div>
                <button
                  onclick="copyCouponCode('{{ coupon.coupon_code }}')"
                  class="copy-btn"
                >
                  Copy to Clipboard
                </button>
                {% endif %}
              </div>
            </div>
            <div id="popup-message" class="popup-message">
              Coupon code copied!
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="container mt-5 mb-5">
          <div class="row">
            <div class="col-md-12">
              <div class="faq-section">
                <h2 class="section-title mb-4">
                  Frequently Asked Questions (FAQs)
                </h2>

                {% for faq in faqs %}
                <div class="faq-item">
                  <div
                    class="faq-header"
                    onclick="toggleFaq('faq-{{ faq.id }}')"
                    aria-expanded="true"
                    aria-controls="faq-{{ faq.id }}"
                  >
                    <h3>{{ faq.question }}</h3>
                    <span class="toggle-icon" aria-hidden="true">−</span>
                    <!-- Initially set to minus to indicate open -->
                  </div>
                  <div
                    class="faq-content active"
                    id="faq-{{ faq.id }}"
                    aria-hidden="false"
                  >
                    <!-- Initially set to visible -->
                    <p>{{ faq.answer|linebreaks }}</p>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Similar Stores Section -->
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="popular-categories">
        <div class="pop-cat-hd">
          <span>SIMILAR STORES</span>
        </div>
        {% for store in stores %}
        <a href="{% url 'store_detail' store.slug %}" class="pop-cat-anc">
          <div class="pop-cat-box">
            <img src="{{ store.image.url }}" alt="{{ store.store_name }}" />
            <span>{{ store.store_name }}</span>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
