{% extends 'base.html' %} {% load static %} {% block body %}

<!------------------MAIN START------------------------>
<div class="container">
  <div class="row">
    <div class="swiper-container banner-section">
      <div class="swiper-wrapper">
          {% for banner in banners %}
          <div class="swiper-slide banner-item">
              <a href="{{ banner.banner_link }}" target="_blank">
                  <img src="{{ banner.banner_image.url }}" alt="{{ banner.banner_name }}">
              </a>
          </div>
          {% endfor %}
      </div>
   </div>
    <div class="alpha-ord-start">
      <div class="col-md-12 col-xs-12 col-sm-12 alpha-ord-coup">
        {% if category %} {% comment %}
        <h2>Stores in {{ category.name }}</h2>
        {% endcomment %} {% for store in stores %}
        <a href="{% url 'store_detail'  store.slug%}">
          <div class="col-md-2 col-sm-2 col-xs-6">
            <div class="alpha-ord-img">
              <img
                src="{{ store.image.url }}"
                class="img-responsive"
                alt="{{ store.store_name }}"
              />
            </div>
          </div>
        </a>

        {% endfor %} {% else %} {% comment %}
        <h2>All Stores</h2>
        {% endcomment %} {% for store in stores %}
        <a href="{% url 'store_detail'  store.slug%}">
          <div class="col-md-2 col-sm-2 col-xs-6">
            <div class="alpha-ord-img">
              <img
                src="{{ store.image.url }}"
                class="img-responsive"
                alt="{{ store.store_name }}"
              />
            </div>
          </div>
        </a>
        {% endfor %} {% endif %}
      </div>
    </div>
  </div>
</div>
<!---------------- SCRIPTS END--------------------->
<script
  src="https://kit.fontawesome.com/a099f845ec.js"
  crossorigin="anonymous"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="" src="{% static 'js/site.js' %}"></script>
<script type="" src="{% static 'web-assets/js/bootstrap.min.js' %}"></script>
<script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>
{% endblock body %}
