{% extends 'base.html' %}
{% load static %}


{% block body %}
<div class="container">
  <div calss="row"> 
      <div class="about_box">
          <h1 >Terms &amp; Conditions</h1>
          <div>
              <p class="cont_para">Welcome to Pubmybrand. We are obliged to host you for visiting and considering the services of our site. Before moving further, we’d like you to carefully read the terms of service of our site as they would be important in constituting the nature of our relationship, including in the event of legal disputes and arbitration. Through accessing or utilizing our services, you agree to be bound by our Terms and Conditions. </p>
              
              <h4>Our Content</h4>
              <p class="cont_para">Pubmybrand’s content is copyrighted and is a registered trademark under local laws and regulations. Our services shall be utilized solely for the purpose intended, and unauthorized use of our trademark, logo and domain names is strictly prohibited.</p>
              
              <h4>Use of our Services</h4>
              <p class="cont_para">Our services shall be utilized exclusively for the purpose they were rendered for. You agree not to use our services to challenge any local statutory obligation. Using our service for posting content that is against general community guidelines (i.e. pornography, hate-speech, obscene, harassing, violent, promoting self-harm of others) would lead to termination of your account and suspension of your service.</p>
              
              <h4>Content</h4>
              <p class="cont_para">Your content shall include any article, photos, comments or any other medium. The user retains complete independence of creating content and publishing it on our website. By posting your content on our site, you would have agreed to allow Pubmybrand to use that content in a way that is necessary for providing you our services.</p>
              <p class="cont_para">You are responsible for the content that you produce and assume all responsibilities and risks associated before and after its published on our site. We also have the right to disable or remove the access to any content published on our site for any reason deemed necessary.</p>
              
              <h4>You agree not to send us: </h4>
              <p class="cont_para">any malware or computer software intended to damage or alter a computer system or data.</p>
              <p class="cont_para">unauthorized or unregulated emails, messages or any promotional content</p>
              <p class="cont_para">any malware content that disrupts our servers and computer networks.</p>
              <p class="cont_para">Any software or harmful content that attempt to give you unauthorized access to Pubmybrand, its systems or property.</p>
              
              
              <h4>Age Limit</h4>
              <p class="cont_para">Modification on terms of Service</p>
              <p class="cont_para">The terms of service can be modified from time to time and users would be duly notified prior to revision of terms of service in our site. If you have suggestions that could enhance our level of service, please do share us on our official email. </p>
          </div>
      </div>
  </div>
</div>

{% endblock body %}