{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container">
  <div calss="row"> 
      <div class="about_box">
          <h1 class="">Terms of Use</h1>
          <br>
          <h4>Shipping policy:</h4>
          <p class="cont_para">We exclusively provide Cash on Delivery (COD) service for all our customers. COD specifically opted for the ease of customers. To make sure once you have received the parcel and then pay to the currier. </p>
          
          <h4>How does COD works:</h4>
          <p class="cont_para">•	In a COD transaction, the recipient pays for the products when they are delivered as opposed to needing to do so beforehand (online payment).</p>
          
          
          <h4>Return policy:</h4>
          <p class="cont_para">Parcel can be returned within 7 days of delivery through courier if you find it unsatisfactory by any means. It is hereby important to understand that parcel shall be sent back in same condition as received. Refund will be provide on spot by the curries once the customer hand over the parcel back.</p>
          
          
          <h4>Please Get In Touch With Us</h4>
          <p class="cont_para">Do you have inquiries, demands, or worries? Please contact us via email. </p>
          <p class="cont_para">Please be mindful of your inbox. Please keep in mind that occasionally, emails may end up in your spam folder.</p>
          <p class="cont_para">Additionally, you can find us on social media. It may be necessary to schedule the service.</p>
      </div>
    </div>
</div>

{% endblock body %}